# Файлы сборки
.venv/

# Библиотеки
requirements.txt

# Скомпилированные байт-коды
*/__pycache__/

# Отдельные файлы
greenplum/dds/dds_creation_tables.sql
greenplum/ods/ods_functions/ods_functions.sql